**Installing factor_analyzer**

In [3]:
pip install factor_analyzer

Collecting factor_analyzer
  Downloading https://files.pythonhosted.org/packages/44/b5/cbd83484ca6dd4c6562c6d66a6a3a0ecf526e79b2b575b9fb4bf5ad172dd/factor_analyzer-0.3.2.tar.gz (40kB)
     |████████████████████████████████| 40kB 4.9MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from factor_analyzer) (1.1.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from factor_analyzer) (1.4.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from factor_analyzer) (1.19.5)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from factor_analyzer) (0.22.2.post1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->factor_analyzer) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->factor_analyzer) (2.8.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->factor_analyzer) (1.0.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->factor_analyzer) (1.15.0)
Building wheels for collected packages: factor-analyzer
  Building wheel for factor-analyzer (setup.py) ... done
  Created wheel for factor-analyzer: filename=factor_analyzer-0.3.2-cp37-none-any.whl size=40398 sha256=47ed3f74f1e43bc53c3a98aef6665fb60b6a40f8cfad3066b64303434427d59a
  Stored in directory: /root/.cache/pip/wheels/4a/d0/57/f1330cb9c80e82d8d05391c74c94ed61ce3f03bf6157f3d6db
Successfully built factor-analyzer
Installing collected packages: factor-analyzer
Successfully installed factor-analyzer-0.3.2

**Importing libraries**

In [4]:
import pandas as pd
import numpy as np

from factor_analyzer import FactorAnalyzer

**13.10**

**Dataframe**

In [22]:
df = pd.DataFrame(np.array([[5.4, 5.2, 6.1, 4.8, 5.0, 5.7, 6.0, 4.0, 5.7, 5.6, 5.8, 5.3],
                            [6.0, 6.2, 5.9, 5.0, 5.7, 6.1, 6.0, 5.0, 5.4, 5.2, 6.1, 5.9],
                            [6.3, 6.0, 6.0, 4.9, 5.0, 6.0, 5.8, 4.0, 4.9, 5.4, 5.2, 5.8],
                            [6.7, 5.8, 7.0, 5.0, 6.5, 6.6, 6.0, 5.0, 5.0, 5.8, 6.4, 6.0],
                            [5.0, 4.8, 3.9, 4.0, 5.6, 6.0, 5.2, 5.3, 5.9, 6.1, 6.2, 5.1],
                            [5.3, 4.9, 4.0, 5.1, 5.4, 5.5, 4.8, 5.1, 6.1, 6.0, 5.7, 4.9],
                            [5.3, 4.2, 4.4, 4.8, 5.1, 5.7, 5.4, 5.8, 5.7, 6.1, 5.9, 5.3],
                            [6.5, 5.6, 5.0, 5.8, 6.2, 6.0, 6.0, 6.4, 6.0, 6.2, 6.0, 4.8],
                            [4.8, 5.4, 4.9, 5.7, 4.2, 6.0, 5.1, 4.8, 5.3, 4.6, 4.5, 4.4],
                            [5.0, 5.0, 5.1, 5.2, 4.6, 5.3, 5.2, 4.6, 5.4, 4.4, 4.0, 4.2],
                            [6.5, 6.0, 5.9, 6.4, 5.3, 5.8, 6.2, 5.7, 6.8, 5.7, 5.0, 5.6],
                            [7.0, 6.4, 6.5, 6.4, 6.3, 6.4, 6.5, 5.7, 6.6, 5.6, 5.9, 5.5]]), index=['y1', 'y2', 'y3', 'y4', 'y5', 'y6', 'y7', 'y8', 'y9', 'y10', 'y11', 'y12']).T

**Creating a model**

In [32]:
facanal = FactorAnalyzer(n_factors=2,rotation='varimax')
facanal.fit(df)

pd.DataFrame(facanal.loadings_, columns=['First factor', 'Second factor'], index=['y1', 'y2', 'y3', 'y4', 'y5', 'y6', 'y7', 'y8', 'y9', 'y10', 'y11', 'y12'])

     First factor  Second factor
y1       0.566880       0.048822
y2       0.818913      -0.065101
y3       0.837493       0.202829
y4       0.829314      -0.208798
y5      -0.275979      -0.541102
y6      -0.524219      -0.283047
y7      -0.483676      -0.500540
y8      -0.486394      -0.047931
y9      -0.073260       0.665539
y10     -0.001488       0.951403
y11     -0.183961       0.835139
y12      0.268606       0.700413

Найбільше навантаження на перший фактор мають y2, y3, y4.

На другий фактор: y9, y10, y11, y12.

y1 не має значного впливу на жоден з факторів, в той час як y2 має майже найбільший вплив на перший фактор.

**Сorrelation**

In [29]:
df.corr().head(n=2)

          y1        y2        y3  ...       y10       y11       y12
y1  1.000000  0.595358  0.674382  ...  0.178142  0.076656  0.309346
y2  0.595358  1.000000  0.782413  ... -0.010435 -0.209742  0.314260

[2 rows x 12 columns]

З матриці кореляціїї видно, що y1 дещо корелює з y2, y3, y4 які мають значний вплив на перший фактор, в той же час y2 сильно корелює з y3, y4.

**13.11**

**Dataframe**

In [42]:
df2 = pd.DataFrame(np.array([[189, 192, 217, 221, 171, 192, 213, 192, 170, 201, 195, 205, 180, 192, 200, 192, 200, 181, 192],
                             [245, 260, 276, 299, 239, 262, 278, 255, 244, 276, 242, 263, 252, 283, 294, 277, 287, 255, 287],
                             [137, 132, 141, 142, 128, 147, 136, 128, 128, 146, 128, 147, 121, 138, 138, 150, 136, 146, 141],
                             [163, 217, 192, 213, 158, 173, 201, 185, 192, 186, 192, 192, 167, 183, 188, 177, 173, 183, 198],
                             [181, 158, 184, 171, 181, 181, 177, 198, 180, 177, 176, 192, 176, 169, 164, 181, 192, 181, 175],
                             [305, 237, 300, 273, 297, 308, 301, 308, 286, 299, 317, 312, 285, 287, 265, 308, 276, 278, 271],
                             [184, 133, 166, 162, 163, 160, 166, 141, 146, 171, 166, 166, 141, 162, 147, 157, 154, 149, 140],
                             [209, 188, 231, 213, 224, 223, 221, 197, 214, 192, 213, 209, 200, 214, 192, 204, 209, 235, 192]]), index=['y1', 'y2', 'y3', 'y4', 'y5', 'y6', 'y7', 'y8']).T

**Creating a model**

In [43]:
facanal2 = FactorAnalyzer(n_factors=2,rotation='varimax')
facanal2.fit(df2)

pd.DataFrame(facanal2.loadings_, columns=['First factor', 'Second factor'], index=['y1', 'y2', 'y3', 'y4', 'y5', 'y6', 'y7', 'y8'])

    First factor  Second factor
y1      0.041030       0.926481
y2     -0.318929       0.769123
y3      0.197511       0.568056
y4     -0.518506       0.464392
y5      0.595181      -0.116032
y6      0.923460      -0.034924
y7      0.696864       0.291759
y8      0.493141      -0.002021

Найбільше навантаження на перший фактор мають y6, y7.

На другий фактор: y1, y2.

Спробуємо змінити обертання і подивимось на результат.

In [45]:
facanal3 = FactorAnalyzer(n_factors=2,rotation='promax')
facanal3.fit(df2)

pd.DataFrame(facanal3.loadings_, columns=['First factor', 'Second factor'], index=['y1', 'y2', 'y3', 'y4', 'y5', 'y6', 'y7', 'y8'])

    First factor  Second factor
y1      0.091891       0.932554
y2     -0.278154       0.756043
y3      0.229403       0.580627
y4     -0.495224       0.439762
y5      0.591275      -0.085974
y6      0.925338       0.012334
y7      0.715686       0.328783
y8      0.495053       0.023286

Бачимо, що результат майже не змінився від зміни обертання.