**Importing libraries**

In [2]:
import pandas as pd
import numpy as np

from sklearn.decomposition import PCA

**12.8**

**Dataframe**

In [3]:
df = pd.DataFrame(np.array([[60, 69, 62, 97, 69, 98],
                            [56, 53, 84, 103, 78, 107],
                            [80, 69, 76, 66, 99, 130],
                            [55, 80, 90, 80, 85, 114],
                            [62, 75, 68, 116, 130, 91],
                            [74, 64, 70, 109, 101, 103],
                            [64, 71, 66, 77, 102, 130],
                            [73, 70, 64, 115, 110, 109],
                            [68, 67, 75, 76, 85, 119],
                            [69, 82, 74, 72, 133, 127],
                            [60, 67, 61, 130, 134, 121],
                            [70, 74, 78, 150, 158, 100],
                            [66, 74, 78, 150, 131, 142],
                            [83, 70, 74, 99, 98, 105],
                            [68, 66, 90, 119, 85, 109],
                            [78, 63, 75, 164, 98, 138],
                            [103, 77, 77, 160, 117, 121],
                            [77, 68, 74, 144, 71, 153],
                            [66, 77, 68, 77, 82, 89],
                            [70, 70, 72, 114, 93, 122],
                            [75, 65, 71, 77, 70, 109],
                            [91, 74, 93, 118, 115, 150],
                            [66, 75, 73, 170, 147, 121],
                            [75, 82, 76, 153, 132, 115],
                            [74, 71, 66, 143, 105, 100],
                            [76, 70, 64, 114, 113, 129],
                            [74, 90, 86, 73, 106, 116],
                            [74, 77, 80, 116, 81, 77],
                            [67, 71, 69, 63, 87, 70],
                            [78, 75, 80, 105, 132, 80],
                            [64, 66, 71, 83, 94, 133],
                            [71, 80, 76, 81, 87, 86],
                            [63, 75, 73, 120, 89, 59],
                            [90, 103, 74, 107, 109, 101],
                            [60, 76, 61, 99, 111, 98],
                            [48, 77, 75, 113, 124, 97],
                            [66, 93, 97, 136, 112, 122],
                            [74, 70, 76, 109, 88, 105],
                            [60, 74, 71, 72, 90, 71],
                            [63, 75, 66, 130, 101, 90],
                            [66, 80, 86, 130, 117, 144],
                            [77, 67, 74, 83, 92, 107],
                            [70, 67, 100, 150, 142, 146],
                            [73, 76, 81, 119, 120, 119],
                            [78, 90, 77, 122, 155, 149],
                            [73, 68, 80, 102, 90, 122],
                            [72, 83, 68, 104, 69, 96],
                            [65, 60, 70, 119, 94, 89],
                            [52, 70, 76, 92, 94, 100]]), columns=['y1', 'y2', 'y3', 'x1', 'x2', 'x3'])

**Correlation matrix**

In [4]:
df.corr()

          y1        y2        y3        x1        x2        x3
y1  1.000000  0.209031  0.138985  0.213229  0.100312  0.283097
y2  0.209031  1.000000  0.187666  0.013798  0.315939 -0.020267
y3  0.138985  0.187666  1.000000  0.170148  0.157556  0.342045
x1  0.213229  0.013798  0.170148  1.000000  0.491988  0.312915
x2  0.100312  0.315939  0.157556  0.491988  1.000000  0.313908
x3  0.283097 -0.020267  0.342045  0.312915  0.313908  1.000000

Як бачимо, компоненти загалом слабко корелюють між собою, тому матриця вільних членів більш прийнятна для цього датасету.

**Eigenvalues (explained_variance_)**

In [5]:
model = PCA(n_components=6)
model.fit(df)

pd.DataFrame(model.explained_variance_ratio_, index=['y1', 'y2', 'y3', 'x1', 'x2', 'x3']).T

        y1        y2        y3        x1        x2        x3
0  0.54234  0.196692  0.154735  0.049294  0.034653  0.022285

explained_variance_ratio - повертає матрицю, де елементи - відсоток дисперсії пояснений кожною компонентою.

Останні 3 компоненти найменше описують нашу вибірку, і це насправді було очікуванно, бо рівень глюкози в крові не стабілізується за одну годину, а під час посту рівень цукру стабільний і похибка вимірювання мінімальна.

In [6]:
model2 = PCA(n_components=3)
model2.fit(df)

pd.DataFrame(model2.explained_variance_ratio_, index=['y1', 'y2', 'y3']).T

        y1        y2        y3
0  0.54234  0.196692  0.154735

**12.10**

**Dataframe**

In [7]:
df_full = pd.DataFrame(np.array([[15, 17, 24, 14, 13, 14, 12, 21],
                                [17, 15, 32, 26, 14, 12, 14, 26],
                                [15, 14, 29, 23, 12, 19, 21, 21],
                                [13, 12, 10, 16, 12, 13, 10, 16],
                                [20, 17, 26, 28, 11, 20, 16, 16],
                                [15, 21, 26, 21, 12, 9, 14, 18],
                                [15, 13, 26, 22, 10, 13, 18, 24],
                                [13, 5, 22, 22, 10, 8, 13, 23],
                                [14, 7, 30, 17, 12, 20, 19, 23],
                                [17, 15, 30, 27, 11, 10, 11, 27],
                                [17, 17, 26, 20, 12, 18, 25, 25],
                                [17, 20, 28, 24, 14, 18, 13, 26],
                                [15, 15, 29, 24, 14, 10, 25, 28],
                                [18, 19, 32, 28, 13, 16, 8, 14],
                                [18, 18, 31, 27, 14, 8, 13, 25],
                                [15, 14, 26, 21, 13, 16, 23, 28],
                                [18, 17, 33, 26, 16, 21, 26, 26],
                                [10, 14, 19, 17, 14, 17, 14, 14],
                                [18, 21, 30, 29, 16, 16, 15, 23],
                                [18, 21, 34, 26, 13, 16, 23, 24],
                                [13, 17, 30, 24, 2, 6, 16, 21],
                                [16, 16, 16, 16, 14, 16, 22, 26],
                                [11, 15, 25, 23, 17, 17, 22, 28],
                                [16, 13, 26, 16, 16, 13, 16, 14],
                                [16, 13, 23, 21, 15, 14, 20, 26],
                                [18, 18, 34, 24, 12, 10, 12, 9],
                                [16, 15, 28, 27, 14, 17, 24, 23],
                                [15, 16, 29, 24, 13, 15, 18, 20],
                                [18, 19 , 32, 23, 11, 16, 18, 28],
                                [18, 16, 33, 23, 7, 7, 19, 18],
                                [17, 20, 21, 21, 12, 15, 7, 28],
                                [19, 19, 30, 28, 6, 5, 6, 13]]), columns=['x1', 'x2', 'x3', 'x4', 'y1', 'y2', 'y3', 'y4'])

df_male = df_full[['x1', 'x2', 'x3', 'x4']]

df_female = df_full[['y1', 'y2', 'y3', 'y4']]

In [8]:
df_male.corr()

          x1        x2        x3        x4
x1  1.000000  0.549348  0.534519  0.564710
x2  0.549348  1.000000  0.347681  0.422984
x3  0.534519  0.347681  1.000000  0.662243
x4  0.564710  0.422984  0.662243  1.000000

In [14]:
model3 = PCA(n_components=4)
model3.fit(df_male)

pd.DataFrame(model3.explained_variance_ratio_, index=['x1', 'x2', 'x3', 'x4']).T

         x1        x2        x3        x4
0  0.683934  0.174866  0.101622  0.039578

In [ ]:
df_female.corr()

          y1        y2        y3        y4
y1  1.000000  0.579070  0.293603  0.259565
y2  0.579070  1.000000  0.432522  0.238613
y3  0.293603  0.432522  1.000000  0.465314
y4  0.259565  0.238613  0.465314  1.000000

In [16]:
model4 = PCA(n_components=4)
model4.fit(df_female)

pd.DataFrame(model4.explained_variance_ratio_, index=['y1', 'y2', 'y3', 'y4']).T

         y1        y2        y3        y4
0  0.570744  0.215255  0.157831  0.056171

В обох випадках усі компоненти більш-менш корелюють між собою, тому не можна точно сказати про важливість однієї з компонент над іншими, як і у попередній задачі, матриця вільних членів дає більше інформації про наші вибірки і тепер бачимо, що в обох випадках перша компонента найбільше описує вибірки.